
Originales/longroad1.gif
.vscode/settings.json
Salida/lineas_edges.jpg
Originales/longroad2.gif
Originales/longroad3.gif
Originales/longroad4.gif
Salida/comprobacion.jpg
__pycache__/detection_car_driving.cpython-35.pyc
